<mat-drawer-container class="example-container">
    <mat-drawer class="drawer-style" mode="side" opened>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img class="img-style" src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg">
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle class="subtitle">Dog Breed</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-list role="list" *ngFor="let option of options" [class.active]="clicked === option" (click)="clicked = (clicked === option ? option :option)">
            <mat-list-item role="listitem" class="item-style me"><i class="material-icons">{{option.icon}}</i> &nbsp;&nbsp;{{option.title}}</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar style=" background-color: #2d2a2a;">
            <span></span>
            <span class="example-spacer"></span>
            <button mat-raised-button>Create notes</button>
        </mat-toolbar>
        <div class="main">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img style="height: 210px;width: 100%;" src="https://lh3.googleusercontent.com/ddk0vlm3y-ko5-K7_BquWkl_vYdRVMqpgj4ISWe6pWAlyLEGSK0vKfaFVDrq0OPb8pmuhKPK7GQ44QTlTNoIncAm8ECN-CY=s688">
                <div class="row" class="btn">
                <button mat-raised-button>Create notes</button>
                </div>
            </div>
            <div class="col"></div>
          </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>