
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-card{
    background-color: #2d2a2a;
    color: #ffbc00;
  }

  .subtitle{
    color: #b7b4b4;
    margin-top: -16px !important;
    font-size: 12px;
  }

  .btn {
    text-align: center;
    display: block;
    margin-top: 19px;
  }

  .img-style{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .main {
      padding: 0px;
      margin-left: 185px !important;
  }

  .row1{
    padding: 16px;
  }

  .add-circle{
    text-align: center;
              display: block;
              margin-top: 20px;
  }

  .card-one{
    width: 100%;
      height: 100%;
      background-color: #f7bc04;
  }

  .card-two{
    width: 100%;
        height: 100%;
        background-color: #2d2a2a;
        color: #04f7b4;
  }

  .card-three{
    width: 100%;
    height: 100%;
    background-color: #860202;
    color: #fff;
  }

  .card-four{
    width: 100%;
    height: 100%;
    background-color: #028086;
    color: #fff;
  }

  .folder{
    font-size: 55px;
    color: #ffffff;
    margin-top: 2px;
  }

  .time-txt{
    font-size: 2rem;
      text-align: center;
  }

  .date-txt{
    text-align: center !important;
  }