<app-header></app-header>
<div class="main">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img style="height: 210px;width: 100%;" src="https://lh3.googleusercontent.com/ddk0vlm3y-ko5-K7_BquWkl_vYdRVMqpgj4ISWe6pWAlyLEGSK0vKfaFVDrq0OPb8pmuhKPK7GQ44QTlTNoIncAm8ECN-CY=s688">
            <div class="row" class="btn">
                <button mat-raised-button>Create notes</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>